<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="container-left">
        <div class="wrapper-left">
          <div class="part-one">
            <h2>Hi, Welcome Back!</h2>
            <p>Let's Create Some QR Codes.</p>
          </div>
          <div class="inp">
            <form action="/login" method="post">
              <label for="" class="email">E-mail </label>
              <input
                class="inp-left"
                type="email"
                placeholder="Enter Your Email"
                name="email"
              />
              <label for="" class="pass">Password </label>
              <input
                class="inp-left"
                type="password"
                placeholder="Enter Your Password"
                name="password"
              />
              <div class="buttons">
                <button class="btn-one" type="submit">Login</button>
              </div>
            </form>
          </div>
          <div class="down">
            <span>Or With</span>
          </div>
          <a href="/login/google">
            <div class="buttons">
              <button class="btn-two">
                <i class="fab fa-google"></i> Login with Google
              </button>
            </div>
          </a>
          <p class="signup-text">
            Don’t have an account? <a href="/register">Sign Up</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
